modules = ["nodejs-20", "web", "postgresql-16"]
run = "bash -lc 'npm --prefix server run dev'"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 5175
externalPort = 3001

[[ports]]
localPort = 5176
externalPort = 3002

[[ports]]
localPort = 5177
externalPort = 3003

[[ports]]
localPort = 46247
externalPort = 4200

